.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12.16rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 38.75rem;
  height: 30.62rem;
  border-radius: 12px;
  background-color: var(--black);
}

.card header {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.card button {
  width: 20.93rem;
  height: 4rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  border-radius: 4px;
  font-weight: 700;
  background-color: var(--background);
  color: var(--black);
}
